doctype html
html
  head
    //- Bots
    meta(name="fragment", content="!")
    //- Classic
    meta(charset="utf-8")
    title Learn Forward
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Context-aware digital textbooks")
    meta(name="keywords", content="digital, textbooks, software, open, source, new, paradigm, digital, education, modern, education, software, solution, educational, publishers, epub3, html5, javascript")
    //- Hide Safari's bars
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    //- Open Graph
    meta(property="og:title", content="Learn Forward")
    meta(property="og:image", content="/assets/img/logo-learnfwd.png")
    meta(property="og:site_name", content="Learn Forward")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://learnfwd.com")
    meta(property="og:locale", content="en_US")
    meta(property="og:description", content="Context-aware digital textbooks")
    //- Google
    meta(name="google-site-verification", content="DIvE9edjnM8VkrtYhMAJGxC4-lnhJZr5J9iDt8R4l5I")
    meta(name="google", content="notranslate")
    //- Twitter
    //- <meta name=”twitter:card” content=”summary”>
    meta(name="twitter:url", content="http://learnfwd.com")
    meta(name="twitter:title", content="Learn Forward")
    meta(name="twitter:description", content="Context-aware digital textbooks")
    meta(name="twitter:image", content="/assets/img/logo-learnfwd.png")
    //- Canonical URL
    link(rel="canonical", href="http://learnfwd.com")
    //- Favicon
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-160x160.png", sizes="160x160")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    meta(name="msapplication-TileColor", content="#ff9f19")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")

    //- Do not modify these semantic comments. They are used by useref and 
    //- wiredep to compile dependencies into single minified CSS and JS files

    //build:css /css/main.css
    //bower:css
    //endbower
    //- Add additional CSS links here if you need any
    //- CSS files installed with Bower are included automatically
    link(rel="stylesheet", href="/css/main.css")
    //endbuild

    //- This was added outside the semantic comments because it's a remote link and can't be bundled in main.css
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Unica+One|Roboto:400,300,100|Roboto+Slab:400,300")

  body
    #main-view

    //- It's preferrable to load AMD or CommonJS libraries with require()
    //- instead of adding them via script tags. NPM and Bower packages work 
    //- with require(). Bower packages can be all included at once with
    //- require('bower-components'), or individually by their package name

    //build:js /js/main.js
    //- Add additional script tags here if you need any
    script(src="/js/main.js")
    //endbuild
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44649809-1', 'learnfwd.com');
      ga('send', 'pageview');
