.mainStripe
  position: relative
  height: 100vh
  width: 100vw
  color: white
  overflow: hidden
  .imgBack
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
    width: 100%
    background-size: cover
    background-position: center center
  .overlay
    position: absolute
    top: 0
    background: rgba(0,0,0,0.4)
    height: 100%
    width: 100%
    .callout
      margin-top: 30vh
      text-align: left
      line-height: 110%
      h1 
        font-size: 10em
        font-weight: 100
      p
        font-size: 2em
        a 
          background: white
          padding: 0.2em 0.5em
          color: black
          &:after
            position: relative
            content: "?"
            background: white
            padding-left: 0.1em
            display: none
          &:hover
            text-decoration: none
            cursor: pointer
            cursor: hand
            &:after
              display: inline-block
    @media(max-width: 768px)
      .callout
        margin-top: 30vh
        h1
          font-size: 5em
        p
          font-size: 1em
    .editions
      margin-top: 2em
  .hand-up
    max-width: 2em
    float: left
    // padding-top: 1em
  .frankfurt
    margin-top: 1em
    max-width: 20em

.black
  color: black
