.navbar
  // background: rgba(9, 46, 78, 1.0)
  border: 0
  border-radius: 0
  margin: 0

  .navbar-toggle, .navbar-toggle.collapsed
    color: #fff
    font-size: 1.5em

    .icon-bar
      background: white

  .navbar-collapse
    border-color: transparent

  .navmenu
    a:hover
    a:active
      background-color: transparent

  .navbar-nav > li > a, a.navbar-brand
    color: white
    font-weight: 400
    transition: color 0.1s

  & .open > a, .nav .open > a:hover
    cursor: pointer

@media (max-width: 991px)
  .dropdown-menu > li > a
    color: white
  .navbar-header
    float: none
  .navbar-toggle
    display: block
  .navbar-collapse
    border-top: 1px solid black
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
  .navbar-collapse.collapse
    display: none!important
  .navbar-nav
    float: none!important
    margin: 7.5px -15px
  .navbar-nav>li
    float: none
  .navbar-nav>li>a
    padding-top: 10px
    padding-bottom: 10px
    color: white !important
  .navbar-collapse.collapse.in
    display: block!important
  .collapsing
    overflow: hidden!important
  .navbar-right
    float: none
  .dropdown-menu
    position: initial
    top: 0
    float: none
    margin: 0
    background-color: inherit
    border none
    box-shadow: none
@media (min-width: 991px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.btn
  border-radius: 0

.modal-wide .modal-dialog
  width: 80%; /* or whatever you wish */
