@import mainStripe
@import pricing
@import variables
@import overrides
@import nav

body
  line-height: 1.5em
  background: url('/assets/img/bg-dark.jpg') #444
  color: black
  letter-spacing: 0.05em
  [role="page-container"]
    padding-top: 150px

.home-page
  [role="page-container"]
    padding-top: 0

.pricing-page
  [role="page-container"]
    background-image: url('/assets/img/bg-green.jpg')
.features-page
  [role="page-container"]
    background-image: url('/assets/img/bg-bulbs.jpg')
    background-size: cover
    background-position: center center
    min-height: 100vh
.team-page
  [role="page-container"]
    background-image: url('/assets/img/bg-team.jpg')
    background-size: cover
    background-position: center center
    min-height: 100vh

.manifesto-page
  [role="page-container"]
    background-image: url('/assets/img/library3.jpg')
    background-size: cover
    background-position: center center
    min-height: 100vh
    // filter: blur(5px)
    // width: 100vw
    // height: 100vh

.container 
  color: white
  &.container-contact
    .content
      padding-left: 1em
      padding-right: 1em
      

.content
  padding: 25px 0px
  background: white
  color: black
  &.content-manifesto
    background: rgba(200,0,0,0.8)
    color: white
    max-width: 40em
    padding: 1em 2em 1em 2em
    margin-bottom: 1em
    .features
      margin-top: 3em
      margin-bottom: 1em
      > a
        color: white
        border-bottom: 1px solid white
        &:hover
          text-decoration: none
          border-bottom: 2px solid white
  &.content-team
    background: transparent;
    color: white
    .person
      background: white
      color: black
      padding: 1em
      margin-bottom: 2em
  &.content-features
    padding: 1em

.footer
  padding-top: 0.5em
  padding-bottom: 0.1em
  color: white
  font-weight: 100

  a
    color: white
    font-weight: 300
    border-bottom: 1px solid white
    &:hover
      text-decoration: none
      border-bottom: 2px solid white
      
  @media(max-width: 992px)
    p
      text-align: center

.stripe
  padding: 1em
  &.manifestoStripe
    background-color: #c0392b
    color: white
.center
  text-align: center

.inline-block
  display: inline-block

.pricing-page 
  > .stripe
    background: red
    position: relative
    height: 100vh
    width: 100vw
    color: white
    overflow: hidden

.vevent
  padding: 1em
  background: #ccc
  .summary
    font-family: lfwd-sans
  .when, .where, .categ, .description
    margin-top: 0.8em
  .when, .where, span.fn.org
    font-weight: 400

a.understyle
  color: white
  font-weight: 300
  border-bottom: 1px solid white
  &:hover
    text-decoration: none
    border-bottom: 2px solid white
  &.black
    color: black
    border-color: black
  h3
    display: inline-block
    margin-top: 0
    margin-bottom: 0
