.mainStripe
  position: relative
  height: 100vh
  width: 100vw
  color: white
  overflow: hidden
  .imgBack
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
    width: 100%
    background-size: cover
    background-position: center center
  .overlay
    position: absolute
    top: 0
    background: rgba(0,0,0,0.4)
    height: 100%
    width: 100%
