nav
  position: absolute
  .logo img
    width: auto
    height: 7em

  .title
    display: none
    color: white

  .navmenu
    position: absolute
    right: 0%
    top: 50%
    transform: translate(0%, -50%)
    @media (max-width: 991px)
      position: relative
      right: 0
      top: 0
      transform: none
    a
      color: white
      border-bottom: 2px solid rgba(0, 0, 0, 0)
      &:hover
      &:active
        text-decoration: none
        border-bottom-color: #fff
  .container
    position: relative
  .navbar-brand
    color: #ccc

@media (max-width: 991px)
  .navbar:not(.nav-scrolled)
    .navbar-toggle
      z-index: 20

    .navbar-collapse
      &.collapsing
      &.collapse.in
        background-color:rgba(0, 0, 0, 0.8)
        position: absolute
        left: 0
        right: 0
        top: 0

.navbar.nav-scrolled
  background-color:rgba(0, 0, 0, 0.8);


  .logo
    display: none
  .title
    display: inline-block

    @media (max-width: 768px)
      .continuation
        display: none

.navbar.small
  background-color:rgba(0,0,0,2.6);

  .logo > img
    width: 70%
    // margin-top: 20px
  //   .menu
  //     position: relative
  //     margin-top: 1em
  //     text-align: center
  //     left: 50%
  //     transform: translateX(-50%)
  //   .logo
  //     position: relative
  //     left: 50%
  //     transform: translateX(-50%)
