lfwd-serif ?= 'Roboto Slab', 'Times New Roman', Times, Georgia, serif;
lfwd-sans ?= 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
lfwd-cursive ?= 'Unica One', cursive;

lfwd-orange ?= #FAAF3B
lfwd-green ?= #8BC540

h1, h2, h3, h4, h5, div, li, ul, ol, .sans
  font-family: lfwd-sans
  font-weight: 300

p, .serif
  font-family: lfwd-serif

.cursive
  font-family: lfwd-cursive

.thin
  font-weight: 100

.normal
  font-weight: 400
