lfwd-serif ?= 'Roboto Slab', 'Times New Roman', Times, Georgia, serif;
lfwd-sans ?= 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
lfwd-cursive ?= 'Unica One', cursive;

lfwd-orange ?= #FAAF3B
lfwd-green ?= #8BC540
