.container.container-contact
  .row(style="margin-top: 1em;")
    .col-sm-4.text-right
      h2 Email
    .col-sm-8.content
      a.understyle.black(href="mailto:hello@readfwd.com") 
        h3.black hello@readfwd.com


  .row(style="margin-top: 1em;")
    .col-sm-4.text-right
      h2 Newsletter
    .col-sm-8.content
      div.
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//readfwd.us7.list-manage.com/subscribe/post?u=aa56a221c5ab91d8d16afcdaa&amp;id=4a06db1285" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_aa56a221c5ab91d8d16afcdaa_4a06db1285" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->

  //- .row(style="margin-top: 1em;")
  //-   .col-sm-4
  //-     img.img-responsive(src="/assets/img/frankfurt.jpg")
  //-   .col-sm-8.content
  //-     h4 Come meet us at 
  //-       strong Hotspot Digital Innovation, Hall 8.0, M148
  //-     p We are holding two on-stage presentations:
  //-     .row
  //-       .col-sm-6
  //-         .vevent
  //-           a.url.summary(href="http://learnfwd.com")
  //-             h4 LearnFwd Presentation #1:
  //-               br
  //-               | Context-aware Digital Textbooks: more than ePub4
  //-           //- img.photo(src="/")
  //-           .description ePub: perfect for fiction, less so for anything else, especially textbooks. They offer limited interactivity, no external services and no collaborations. You’d need a separate platform for that. Well, we brought it all together. We've built a digital textbook with a full collaborative platform hidden inside. Come take a look at our context-aware digital textbooks. They just might be game-changing.
  //-           .when When: 
  //-             span.dtstart Oct 9th, 3:00PM 
  //-               span.value-title(title="2014-10-09T1500Z00")
  //-             span.dtend ~3:30PM
  //-               span.value-title(title="2014-10-09T1530Z00")
  //-           .where Where: 
  //-             .location.vcard
  //-               span.fn.org Hotspot Digital Innovation (Hall 8.0) 
  //-               br
  //-               span.adr
  //-                 span.street-address Braubachstraße 16, 60311 
  //-                 span.locality Frankfurt am Main 
  //-                 span.region Germany 
  //-           .categ Category: 
  //-             span.category Presentation
  //-       .col-sm-6
  //-         .vevent
  //-           a.url.summary(href="http://learnfwd.com")
  //-             h4 LearnFwd Presentation #1:
  //-               br
  //-               | Context-aware Digital Textbooks: more than ePub4
  //-           //- img.photo(src="/")
  //-           .description ePub: perfect for fiction, less so for anything else, especially textbooks. They offer limited interactivity, no external services and no collaborations. You’d need a separate platform for that. Well, we brought it all together. We've built a digital textbook with a full collaborative platform hidden inside. Come take a look at our context-aware digital textbooks. They just might be game-changing.
  //-           .when When: 
  //-             span.dtstart Oct 10th, 11:00AM 
  //-               span.value-title(title="2014-10-10T1100Z00")
  //-             span.dtend ~11:30AM
  //-               span.value-title(title="2014-10-10T1120Z00")
  //-           .where Where: 
  //-             .location.vcard
  //-               span.fn.org Hotspot Education (Hall 4.2) 
  //-               br
  //-               span.adr
  //-                 span.street-address Braubachstraße 16, 60311 
  //-                 span.locality Frankfurt am Main 
  //-                 span.region Germany 

  //-           .categ Category: 
  //-             span.category Presentation

