.container
  .content
    .page-header
      h4 Our Team
    .row
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Cristian Dinu
        .em Co-Founder (technology, project management, serious stuff)
        p.small It is the geekiness itself with a twist! Forged in the deep mountains of hardcore programming (java, php, python, javascript, you name it) and strengthened in the narrow canyons of project management certified professionals he suffered a massive blow that changed his fate forever. He felt the strong winds of entrepreneurship (2006 – InfoIdeea – ecommerce systems) and personal development and never looked back on his corporate days. Should that not be enough, he is also recently interested in humanities, particularly history and literature. Check out his 
          a(href="http://cristiandinu.info/", target="_blank") personal webpage 
          |(in Romanian).
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Paul Balogh
        .em Co-Founder (general management, operations, good luck)
        p You should already know by now that we, at ReadFwd, love cross-breeds. Paul’s main problem is how to bring together his two passions: humanities and technology. He graduated from the Faculty of Philosophy but worked as system administrator, web programmer and web designer. He tried to combine these two in several ways: as entrepreneur (2006  - founded Zeta Books, an academic publishing house), as business developer (2009 – LibHumanitas, one of the largest online bookshops and 2011 – Humanitas Digital, ebook business) now back to entrepreneurship with Read Fwd.
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Leontina Budrincă
        .em Project Manager (administrative guardian angel)
        p You think you can handle dozens of tasks in a highly stressful environment? You must be Leo’s relative. She has forged her patience in previous jobs leading the intricate affairs of one of the biggest e-commerce websites in Romania and her knowledge regarding online and her skills as team-leader recommended her as a very good project manager, fit for a company where too often creativity challenges good order. We have not been wrong.
    .row
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Marius Petcu
        .em lorem ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Andrei Constantinescu
        .em lorem ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        .strong Dana Cotoran
        .em lorem ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    h4 Outstanding past team members
    .row
      .col-sm-4.col-sm-offset-4
        img(src="http://placehold.it/300x150")
        .strong Dana Cotoran
        .em lorem ipsum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
