.container
  .content
    .page-header
      h4 Our Team
    .row
      .col-sm-4: .person
        img.img-responsive(src="/assets/img/team-dinu.jpg")
        h3.cursive CRISTIAN DINU
        .em Co-Founder (technology officer, general management)
        p.small It is the geekiness itself with a twist! Forged in the deep mountains of hardcore programming (java, php, python, javascript, you name it) and strengthened in the narrow canyons of project management certified professionals he suffered a massive blow that changed his fate forever. He felt the strong winds of entrepreneurship (2006 – InfoIdeea – ecommerce systems) and personal development and never looked back on his corporate days. Should that not be enough, he is also recently interested in humanities, particularly history and literature. Check out his 
          a(href="http://cristiandinu.info/", target="_blank") personal webpage 
          |(in Romanian).
      .col-sm-4: .person
        img.img-responsive(src="/assets/img/team-paul.jpg")
        h3.cursive PAUL BALOGH
        .em Co-Founder (general management)
        p You should already know by now that we, at ReadFwd, love cross-breeds. Paul’s main problem is how to bring together his two passions: humanities and technology. He graduated from the Faculty of Philosophy but worked as system administrator, web programmer and web designer. He tried to combine these two in several ways: as entrepreneur (2006  - founded Zeta Books, an academic publishing house), as business developer (2009 – LibHumanitas, one of the largest online bookshops and 2011 – Humanitas Digital, ebook business) now back to entrepreneurship with Read Fwd.
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        h3.cursive LEONTINA BUDRINCĂ
        .em Content Manager
        p You think you can handle dozens of tasks in a highly stressful environment? You must be Leo’s relative. She has forged her patience in previous jobs leading the intricate affairs of one of the biggest e-commerce websites in Romania and her knowledge regarding online and her skills as team-leader recommended her as a very good project manager, fit for a company where too often creativity challenges good order. We have not been wrong.
    .row
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        h3.cursive MARIUS PETCU
        .em Software Engineer
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-4: .person
        img(src="http://placehold.it/300x150")
        h3.cursive ANDREI CONSTANTINESCU
        .em Junior Software Engineer
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-4: .person
        img.img-responsive(src="/assets/img/team-dana.jpg")
        h3.cursive DANA COTORAN
        .em Junior content developer
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .row
      .col-sm-4.col-sm-offset-4
        h4 Outstanding past team members
        img(src="http://placehold.it/300x150")
        h3.cursive THEODOR VĂRARU
        .em Software Engineer
        p Do not get fooled by his borderline-hipster-boyish-geekish look. Or by his young age. He is a powerhouse when it comes to modern web development technologies, software development principles, efficient interface programming and the likes. He is strongly opinionated (we regard it as a feature, not a bug) and he has a keen sense of design. Rare stuff when it comes to programmers.
