.container
  .row
    .col-sm-6: .content.content-features
      h2 What is a context-aware digital textbook?
      p The technology currently used for digital textbooks is ePub3, a file format coming from "classical" ebooks. The thing with classical ebooks is that they are made for solitary reading. Image yourself, late at night, reading "Sense and Sensibility" . It's just you and the book. However this is not the preferred scenario when it comes to education. Education is collaborative: it happens in schools & classrooms, where you have colleagues and teachers, assignments to make, you work in groups, you build common projects. Nothing solitary. 
      p Dissatisfied with the limitations imposed by ePub3 but happy with the underlying technology (HTML5 & Javascript) we set off to build HTML5 textbooks that know when they are in a classroom, that can work perfectly online  & offline, that connect to classrooms (right from inside the textbook itself).  They save your progress, your answers, they let you work in groups. And all from inside the best "reader" app in the world: your own browser. 
    .col-sm-6: .content.content-features
      h2 Features
      h4 Authoring tool
      h4 Collaborative & Real-time
      h4 Automatic backup
      h4 Offline mode
      h4 Advanced Exercises
      h4 Hosted Platform

      p see 
        a.understyle.black(href="/editions/") editions table
