.container
  .content.content-team
    h2 Our Team
    .row
      .col-sm-4
        img.img-responsive(src="/assets/img/team-dinu.jpg")
        .person
          span.role Co-Founder
          h3.cursive CRISTIAN DINU
          p.small When he felt his corporate days (IBM, Vodafone) had been over, Dinu took up entrepreneurship and never looked back. He founded InfoIdeea in 2006 (ecommerce systems) and became certified project manager. Should that not be enough, he is also recently interested in humanities, particularly history and literature. Check out his 
            a(href="http://cristiandinu.info/", target="_blank") personal webpage 
            |(in Romanian).
      .col-sm-4
        img.img-responsive(src="/assets/img/team-paul.jpg")
        .person
          span.role Co-Founder
          h3.cursive PAUL BALOGH
          p.small He's a cross-breed between humanities and technology. He graduated from the Faculty of Philosophy but worked as system administrator, web programmer and web designer. He tried to combine these two in several ways: founded Zeta Books in 2006 (academic publisher); business developer (LibHumanitas, 2009 and Humanitas Digital 2011). Now he is back to entrepreneurship with Read Forward.

      .col-sm-4
        img.img-responsive(src="/assets/img/team-leo.jpg")
        .person
          span.role Content Manager
          h3.cursive LEONTINA BUDRINCĂ
          p.small You think you can handle dozens of tasks in a highly stressful environment? You must be Leo’s relative. She has forged her patience in previous jobs leading the intricate affairs of one of the biggest e-commerce websites in Romania and her knowledge regarding online and her skills as team-leader recommended her as a very good project manager, fit for a company where too often creativity challenges good order. We have not been wrong.
      .col-sm-4
        img.img-responsive(src="/assets/img/team-marius.png")
        .person
          span.role Software Engineer
          h3.cursive MARIUS PETCU
          p.small How do you call someone who started (back in highschool, mind you) building his own game engine from scratch? Crazy? Over-ambitious? By age we should call him "junior software engineer". Not by skill, though: javascript, C++, Objective C, software architecture... you name it!
      .col-sm-4
        img.img-responsive(src="/assets/img/team-andrei.jpg")
        .person
          span.role Junior Software Engineer
          h3.cursive ANDREI CONSTANTINESCU
          p.small Genuinely curious about web programming, he started in our company from contributions to small projects and quickly graduated to maintaining large websites by himself. He turns provocations into good practice and is progressing immensely. 
      .col-sm-4
        img.img-responsive(src="/assets/img/team-dana.jpg")
        .person
          span.role Junior content developer
          h3.cursive DANA COTORAN
          p.small Possibly the quietest person you've ever met. Besides that, she is a fast learner: with no previous coding knowledge she managed to handle HTML5 and CSS in no time. She is a also a very good illustrator and she has a keen eye for design. These two skills make her a very good fit to handle HTML content from conversions to layout and colors.

    h2 Outstanding past team members
    .row
      .col-sm-4
        img.img-responsive(src="/assets/img/team-theo.jpg")
        span.role Software Engineer
        h3.cursive THEODOR VĂRARU
        p.small Do not get fooled by his borderline-hipster-boyish-geekish look. Or by his young age. He is a powerhouse when it comes to modern web development technologies, software development principles, efficient interface programming and the likes. He is strongly opinionated (we regard it as a feature, not a bug) and he has a keen sense of design. Rare stuff when it comes to programmers.
