.row
  .col-sm-6.col-sm-offset-3
    h1 Demo
    p Here is the demo textbook about our textbook!
    p Features not to miss in the demo:
    ul
      li Change your automatically assigned name to your real name
      li Check out all the great exercises (try to solve them, they are real exercises)
      li Create a classroom (you became a teachet this way)
      li Get another computer to access the same 
        a(href="http://demo.learnfwd.com") demo.learnfwd.com
        |  and join the classroom you created before (you become a student)
      li If you feel adventurous get another tablet or smartphone and connect to the same classroom (another student)
      li Select a group from both students (A, let's say) and solve exercises together
      li Fun, right? If you liked it (or not) drop us an email at 
        a(href="mailto:hello@readfwd.com") hello@readfwd.com
    .text-center
      a(href="http://demo.learnfwd.com")
        button.btn.btn-lg.btn-danger(style="margin-bottom: 4em; margin-top: 2em;") OPEN DEMO


