.container
  nav.navbar.navbar-fixed-top.main-nav(role="navigation")
    .logo
      a(href="/")
        img(src="/assets/img/logo-learnfwd-03.png")
    .menu
      a(href="/") Home
      a(href="/demo/") Demo
      a(href="/features/") Features
      a(href="/team/") Team
      a(href="/pricing/") Pricing
      a(href="/contact/") Contact
