- var bgNow = ['/assets/img/SandShoes.jpg']
.mainStripe
  .imgBack(style="background-image: url('#{bgNow}')")
  .overlay
    .container: .callout
      h1 Learn Forward
      p.sans: a.sans(href="#"): span context-aware digital textbooks
        //- img.hand-up(src="/assets/img/icon-hand-up.png")
