- var bgNow = ['/assets/img/SandShoes.jpg']
.mainStripe
  .imgBack(style="background-image: url('#{bgNow}')")
  .overlay
    .container: .callout
      h1 Learn Forward
      p.sans: a.sans(href="/features/"): span context-aware digital textbooks
      //- a(href="/contact/")
      //-   img.frankfurt(src="/assets/img/frankfurt.jpg", alt="Frankfurt Bookfair, 8-12 2014, Hall 8.0, Booth M148")
