.manifestoStripe.stripe
  .container
    h2 Manifesto
    h4.cursive mama are mere
    p How do we push ourselves forward? We experiment,  discover,  learn and then teach others. The ones who know less learn from the ones who know more. We learn. This is the very definition of what we do, as a species. 
    p Education is, today, the old dog that needs to learn itself new tricks. Or else how do you convince 7 year-olds that they must give up computer games, tablets, the internet just to embrace a chunk of chalk for half of the day? Short answer: you don't. Long answer: you grow your own teaching methods towards them and their digital lives. 
    p We are here to contribute to this renewal by turning digital education into a friend and not a foe. We make context-aware digital textbooks and collaborative platforms the way they should be. We are Learn Forward.
