.footer.text-center
  p.sans proudly created by 
    a.sans.understyle(href="http://readfwd.com", target="_blank") readfwd.com
    span  &nbsp;| contact us 
    a.sans.understyle(href="mailto:hello@readfwd.com") hello@readfwd.com
  p.sans Learn Forward Limited | 9401061 | registered in England and Wales
